.content
  width: calc(100% - 141px)
  height: 100%
  float: left
  text-align: center

  @include background(radial-gradient(to bottom, #4b82b7, #3172ae))

.jokes-list
  position: relative

  font-family: Helvetica
  font-weight: bolder

  @for $i from 0 through 10
    .joke:nth-child(#{$i})
      // margin-left: 800px + $i * -150
      z-index: 100 - $i
      // transform: rotate(-5deg * $i) translate(-20px * $i)
      transform: rotate(3deg + -3deg * $i) translate(-50px * $i, 100px)
      opacity: 1.1 - ($i/10)

  .joke
    transition: all 1s ease
    height: 205px
    width: 285px
    -webkit-backface-visibility: hidden

    position: absolute

    overflow: hidden

    color: white
    font-size: 30pt
    text-align: left
    font-style: italic

    border-radius: 5px

    .wrapper
      height: 255px
      width: 345px

      position: absolute

      top: -15px
      left: -15px

      .shadow
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0

      p
        transform: rotate(-5deg)
